body{
  background:rgb(231, 220, 220);
}
nav{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  background-color: rgb(23, 14, 14);
  color: #fff;
}
.nav-bar {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}
.nav-bar:hover{
  background-color: #ddd;
  color: black;
}
.nav-bar.active{
  background-color: #04AA6D;
  color: white;
}
h1{
  font-size: 40px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.botones{
  display: flex;
  justify-content: center;
}
.boton{
  width: 120px;
  height: 40px;
  border-radius: 9px;
  margin-left: 20px;
  background-color: rgb(25, 24, 24);
  color: white;
  border: none;

}
.boton:hover{
  background-color:rgb(102, 104, 105)
}
.matricula{
  color: black;
  margin: auto;
  font-size: 30px;
  text-align: center;
}

.img{
  display: block;
  margin: 0px auto;
  width: 20%;
}





